*

!.gitignore

!.github/
!.github/workflows/
!.github/workflows/main.yml
!.github/workflows/test_and_lint.yml

!libs/
!libs/*.py
!functional_test.py
!raffle.py

!Dockerfile
!README.md

!requirements.txt
!requirements-dev.txt
!requirements-test.txt


!.editorconfig
