# We want requests fo all the calls to discord, and back up to bitcoin and NIST
requests
# We use this to talk to discourse
pydiscourse
# Because dates are hard and this makes it a bit easier.
python-dateutil